<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerLinks}}
  </head>
  <body>

    <!-- navbar -->
    {{>navbar}}


    <!-- header -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="main-content">
              <form action="" class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
              </form>
            </div>
            <div class="tempInfo">
              <div class="top_layer">
                <p id="day">Tuesday</p>
                <p id="date">14 Aug, 2023</p>
              </div>
              <div class="main_layer">
                <p id="city_name">Get Output Here</p>
                <div class="middle_layer data_hide">
                  <p id="temp"><span id="temp_real_val">0 <sup>o</sup>C</span></p>
                  <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script>
      const getCurrentDay = () => {
        let weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
    
        let currentTime = new Date();
        let days = weekday[currentTime.getDay()];
        let day = document.getElementById('day');
        let date = document.getElementById('date');
    
        day.innerText = days;
    
        // Formatting the date
        let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        let month = months[currentTime.getMonth()];
        let dayOfMonth = currentTime.getDate();
        let year = currentTime.getFullYear();
        date.innerText = `${dayOfMonth} ${month}, ${year}`;
      }
      getCurrentDay();
    </script>
    
  </body>
</html>
